extends layout


block content
  .row.page-header.list-page-header
    h1= pageHeader.title
    p= pageHeader.strapline
    .error= message
  table.table.table-striped
    thead.thead-inverse
      th
        a(href="/conflicts?sort=title") Title
      th
        a(href="/conflicts?sort=conflict") Conflict
      th
        a(href="/conflicts?sort=date") Date
      th
        a(href="/conflicts?sort=start") Time
      th
        a(href="/conflicts?sort=building") Building
      th
        a(href="/conflicts?sort=room") Room
    tbody
      each item in events
        tr
          td
            a(href="/event/" + item.base_id)= item.base
          td
            a(href="/event/" + item.conflict_id)= item.conflict
          td
            a(href="/list?findkey=start&findvalue=" + item.date)= item.date
          td
            a(href="/list?findkey=start&findvalue=" + item.start)= item.start
          td
            a(href="/list?findkey=building&findvalue=" + item.building)= item.building
          td
            a(href="/list?findkey=room&findvalue=" + item.room)= item.room