extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page.header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="/exhibitUpdate/" + exhibit._id method="post" role="form")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-12
              label Exhibit
                input#exhibit.form-control(autofocus="true" name="exhibit", placeholder="Required", value=exhibit.exhibit, required)
              label Exhibitor
                input#exhibitor.form-control(name="exhibitor", value=exhibit.exhibitor)
              label Title of Exhibitor
                input#title.form-control(name="title",  value=exhibit.title)
              label Booth
                input#booth.form-control(name="booth",  value=exhibit.booth)
              label Address
                input#address.form-control(name="address",  value=exhibit.address)
              label City
                input#city.form-control(name="city", value=exhibit.city)
              label State
                input#state.form-control(name="state", placeholder="ST", value=exhibit.state)
              label Zip
                input#zip.form-control(name="zip", value=exhibit.zip)
              label email
                input#email.form-control(type="email" name="email", value=exhibit.email)
              label Phone
                input#phone.form-control(name="phone", placeholder="XXX-XXX-XXXX")
              label Website
                input#web.form-control(name="web", value=exhibit.web)
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-12
              label Description
                textarea#description.form-control(name="description", rows=18)= exhibit.description
              hr
              a.btn.btn-default(onclick="window.history.back()",  role='button') Cancel
              button.btn.btn-default(type="submit" value='Submit') Save
              a.btn.btn-default(href='/exhibits') List
              a.btn.btn-default(href='/exhibitRead/' + exhibit._id) Program
              a.btn.btn-default.pull-right(href='/exhibitDelete/' + exhibit._id) Delete

        .col-xs-12.col-sm-6.col-md-4
          .col-xs-12.col-sm-12.col-md-12
            ul.event
              li= 'creation date: '
                +formatDate(exhibit.creationDate)
              li= 'modified: ' + exhibit.modified
              li= 'mod date: '
                +formatDate(exhibit.modificationDate)
              li= 'cancelled: ' + exhibit.cancelled
              li= 'checked: ' + exhibit.checked