extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  table.table.table-striped.table-responsive
    thead.thead-inverse
      th Details
      th
        a(href="/exhibitors?sort=exhibit") Exhibitor
      th
        a(href="/exhibitors?sort=booth") Booth
      th Delete
    tbody
      each item in exhibits
        tr
          td
            a.btn.btn-glyphicon(href="/exhibitRead/" + item._id role="button")
              span.glyphicon.glyphicon-zoom-in
          td
            a(href="/exhibitUpdate/" + item._id)= item.exhibit
          td
            a(href="/exhibitUpdate/" + item._id)= item.booth
          td
            a.btn.btn-glyphicon(href="/exhibitDelete/" + item.id role="button")
              span.glyphicon.glyphicon-trash