extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      .error= message
  .row
    .col-xs-12.col-md-12
      .row
        .col-md-3
        .col-xs-12.col-md-6
          h3.exhibit= exhibit.exhibit
          h3.exhibit= 'Booth ' + exhibit.booth
          p.exhibit_exhibitor= exhibit.exhibitor + ", " + exhibit.title
          .exhibit_info
            p= exhibit.address
            p= exhibit.city + " " + exhibit.state + " " + exhibit.zip
            p= exhibit.email
            p= exhibit.phone
            p= exhibit.web
          .exhibit_description
            p= exhibit.description
        .col-md-3
    .col-xs-12.col-md-12
      .row
        hr
      .row
        .col-lg-12
          .col-lg-4
          .col-lg-4
            a.btn.btn-default(href='/exhibit/new') new
            a.btn.btn-default(href='/exhibits') list
            a.btn.btn-default(href='/exhibitUpdate/' + exhibit._id role='button') update
            a.btn.btn-default(href='/exhibitDelete/' + exhibit._id role='button') delete