extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  table.table.table-striped.table-responsive
    thead.thead-inverse
      th
        a(href="/exhibitors?sort=exhibit") Exhibitor
      th
        a(href="/exhibitors?sort=booth") Booth
    tbody
      each item in exhibits
        tr
          td
            a(href="/exhibitRead/" + item._id)= item.exhibit
          td
            a(href="/exhibitRead/" + item._id)= item.booth