extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  table.table.table-striped.table-responsive
    thead.thead-inverse
      th Details
      th
        a(href="/exhibits?sort=exhibit") Exhibit
      th
        a(href="/exhibits?sort=exhibitor") Exhibitor
      th
        a(href="/exhibits?sort=booth") Booth
      th
        a(href="/exhibits?sort=title") Title
      th Delete
    tbody
      each item in exhibits
        tr
          td
            a.btn.btn-glyphicon(href="/exhibitRead/" + item._id role="button")
              span.glyphicon.glyphicon-zoom-in
          td
            a(href="/exhibitUpdate/" + item._id)= item.exhibit
          td= item.exhibitor
          td= item.booth
          td= item.title
          td
            a.btn.btn-glyphicon(href="/exhibitDelete/" + item._id role="button")
              span.glyphicon.glyphicon-trash