extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  table.table.table-striped.table-responsive
    thead.thead-inverse
      th
        a(href="/exhibits?sort=exhibit") Exhibit
      th
        a(href="/exhibits?sort=exhibitor") Exhibitor
      th
        a(href="/exhibits?sort=booth") Booth
      th
        a(href="/exhibits?sort=title") Title
    tbody
      each item in exhibits
        tr
          td
            a(href="/exhibitRead/" + item._id)= item.exhibit
          td= item.exhibitor
          td= item.booth
          td= item.title