extends layout

block content
  .row.page-header
    h1= pageHeader.title
    p= pageHeader.strapline
  .row.content
    p= "The following menuitems appear in the header on all pages..."
      ul
        li
          a(href='/list') Events: Dropdown that exposes the following...
        ul
          li
            a(href='/list') List: List of all events
          li
            a(href='/presenters') Presenters: List of all presenters attached to an event
          li
            a(href='/performers') Performers: List of all performers attached to an event
          li
            a(href='/new') New Event: Use this to create a new event and add it to the database
          li
            a(href='/conflicts') Conflicts: List of conflicts generated when a room is being used by more than one event at the same time
        li Exhibits: Dropdown that exposes the following...
        ul
          li
            a(href='/exhibit/new') New Exhibit: Create a new exhibit
          li
            a(href='/exhibitors') Exhibitors: List of exhibitors
          li
            a(href='/exhibits') Exhibits: List of exhibits
        li Sponsors: Dropdown that exposes the following...
        ul
          li
            a(href='/sponsorCreate') New Sponsor: Create a new sponsor
          li
            a(href='/sponsors') Sponsors: List of all sponsors
        li Instruments: Dropdown that exposes the following...
        ul
          li
            a(href='/instrumentCreate') New Instrument: Create new instrument assignment
          li
            a(href='/instruments') Instruments: List of all assigned instruments
        li Development is a dropdown of stuff just used in development - not for production - YET!
    p= "The following buttons appear on various event pages..."
      ul
        li Submit: to submit the data just added or updated
        li Cancel: well duh!
        li New: add a new item
        li Update: takes you to the update page where you can change data stored for an event
        li Delete: removes the current event from the database. WARNING: there is no warning or second chance yet. If you click this button, the event is gone
        li Program: Takes you to a program view of that event, how the event will layout in the program
        li note: you will often see a 'checked' reference that is labeled as 'false' - not yet implemented but is there for future updates where you can select individual events for block treatment (deleting, updating in mass, etc.)
    p= "List pages (list, performers, presenters, exhibits, exhibitors, etc.) have the following behavior..."
      ul
        li Clicking on a table header item will usually sort by that item
        li Clicking on an event/exhibit title will take you to that event's/exhibit's detail page
        li Clicking on an item in the table (except for the title) will usually display just the entries that contain that item. For instance, in the List, clicking on a category will show all entries in that particular category - try it, you'll see what I mean
        