extends layout

block content
  .row.page-header
    .col-lg-12
      h1= "EVENTS - Create New Event"
      p= "NOTE! Event Title, Date, Start Time and End Time are all required before you can successfully save"
      .error= message

  .row
    .col-xs-12.col-md-12
      form.form-horizontal(name="newForm" action="", method="post", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12
              label Title
                input#eventTitle.form-control.input-invalid(autofocus=true, name="title",  placeholder="Required", required)
              label Category
                input#category.form-control(name="category")
              label Date
                input#eventDate.form-control.input-required.input-invalid( name="date",placeholder="MM/DD/YYYY", value=event.date, required)
              label Start Time
                input#eventStart.form-control.input-required.input-invalid( name="start", placeholder="H:MM AM/PM (no preceding zero please)", value=event.time, required)
              label End Time
                input#eventEnd.form-control.input-required.input-invalid(name="end", placeholder="H:MM AM/PM (no preceding zero)", required)
              label Building
                input#building.form-control(name="building", value=event.building)
              label Room
                input#room.form-control(name="room", value=event.room)

          .form-group
            .col-xs-12.col-sm-12
              label HOST
                input#hostName.form-control(name="hostName")
              label email
                input#hostEmail.form-control.input-invalid(type="email" name="hostEmail")
              label Institution
                input#hostInstitution.form-control(name="hostInstitution")
              label City
                input#hostCity.form-control(name="hostCity")
              label State
                input#hostState.form-control(name="hostState", placeholder="ST")

        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12
              label PRESENTER
              label First
                input#presenterFirst.form-control(name="presenterFirst")
              label Last
                input#presenterLast.form-control(name="presenterLast")
              label email
                input#presenterEmail.form-control(type="email" name="presenterEmail")
              label Institution
                input#presenterInstitution.form-control(name="presenterInstitution")
              label City
                input#presenterCity.form-control(name="presenterCity")
              label State
                input#presenterState.form-control(name="presenterState", placeholder="ST")
            .col-xs-12.col-sm-12
            
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12
              label PERFORMER
                input#performerName.form-control(name="performerName")
              label Director
                input#performerDirector.form-control(name="performerDirector")
              label email
                input#performerEmail.form-control(type="email" name="performerEmail")
              label Institution
                input#performerInstitution.form-control(name="performerInstitution")
              label City
                input#performerCity.form-control(name="performerCity")
              label State
                input#performerState.form-control(name="performerState", placeholder="ST")
          .form-group
            .col-xs-12.col-sm-12
              p
              label Description
                textarea#description.form-control(name="description", rows="7")
              p
              hr
              a.button.btn.btn-default.no-prompt-required(onclick="window.history.back()" role='button') Cancel
              button.btn.btn-default.pull-right(type="Submit" value='Submit') Save
