extends layout

block content
  .row.page-header
    .col-lg-12
      h1= "PERFORMER CONFLICTS"
      p= "Conflicts occur when a performer is giving more than one performance at the same time. Clicking on the performer will take you to a list of that performer's events. Clicking on that performer's 'Event' or 'Conflict' will take you to the Update page for that event."
      .error= message
  table.table.table-striped.table-responsive
    thead.thead-inverse
      th
        a(href="/performerConflicts?sort=performerName") Performer
      th
        a(href="/performerConflicts?sort=date") Date
      th
        a(href="/performerConflicts?sort=start") Time
      th Event
      th Conflict
        
    tbody
      each item in events
        tr
          td
            a(href="/events?findkey=performerName&findvalue=" + item.base)= item.base
          td
            a(href="/events?findkey=date&findvalue=" + item.date)= item.date
          td
            a(href="/events?findkey=start&findvalue=" + item.start)= item.start
          td
            a(href="/update/" + item.base_id)= item.event
          td
            a(href="/update/" + item.conflict_id)= item.conflict