extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
      .error= message
  table.table.table-striped.table-responsive
    thead.thead-inverse
      th
        a(href="/sponsors?sort=sponsor") Sponsor
      th
        a(href="/sponsors?sort=institution") Institution
      th Delete
    tbody
      each sponsor in sponsors
        tr
          td
            a(href="/sponsorUpdate/" + sponsor._id)= sponsor.sponsor
          td
            a(href="/sponsors?findkey=institution&findvalue=" + sponsor.institution)= sponsor.institution
          td
            a.btn.btn-glyphicon(href="/sponsorDelete/" + sponsor._id role="button")
              span.glyphicon.glyphicon-trash