extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page.header
    .col-lg-12
      h1= pageHeader.title
      p= pageHeader.strapline
  .row
    form.form-horizontal(id="newForm", action="/sponsorUpdate/" + sponsor._id method="post" role="form")
      .form-group
        .col-xs-12.col-sm-12.col-md-6
          label Sponsor
            input#sponsor.form-control.input-required(autofocus=true name="sponsor", placeholde="Required", value=sponsor.sponsor)
          label Institution
            input#institution.form-control(name="institution", value=sponsor.institution)
          p
          hr
          p

          a.btn.btn-default(onclick="window.history.back()", role='button') Cancel
          button.btn.btn-default(type="submit" value= 'Submit') Save
          a.btn.btn-default(href="/sponsors", role="button") List
          a.btn.btn-default.pull-right(href="/sponsorDelete/" + sponsor._id role='button') Delete