extends layout

block content
  .row.page-header
    .col-lg-12
      h1= "EVENT " + pageHeader.title
      p= pageHeader.strapline
      .error= message
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="/update/" + event._id method="post" role="form" autocomplete="off")
        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12.col-md-12
              label Title
                input#eventTitle.form-control.input-required(autofocus=true name="title" placeholder="Required" value=event.title required)
              label Category
                input#category.form-control(name="category",  value=event.category)
              label Building
                input#building.form-control(name="building" value=event.building)
              label Room
                inut#room.form-control(name="room",  value=event.room)
              label Date
                input#eventDate.form-control.input-required(name="date", placeholder="MM/DD/YYYY", required, value=event.date)
              label Start Time
                input#eventStart.form-control.input-required(name="start",  placeholder="H:MM AM/PM", required, value=event.start)
              label End Time
                input#eventEnd.form-control.input-required(name="end", placeholder="H:MM AM/PM", required, value=event.end)

          .form-group
            .col-xs-12.col-sm-12.col-md-12
              p HOST
              label Name
                input#host.form-control(name="hostName",  value=event.hostName)
              label email
                input#hostEmail.form-control(type="email", name="hostEmail", value=event.hostEmail)
              label Institution
                input#hostInstitution.form-control(name="hostInstitution",  value=event.hostInstitution)
              label City
                input#hostCity.form-control(name="hostCity",  value=event.hostCity)
              label State
                input#hostState.form-control(name="hostState", placeholder="ST" value=event.hostState)

        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12
              p PRESENTER
              label First
                input#presenterFirst.form-control(name="presenterFirst",  value=event.presenterFirst)
              label Last
                input#presenterLast.form-control(name="presenterLast",  value=event.presenterLast)
              label email
                input#presenterEmail.form-control(type="email" name="presenterEmail",  value=event.presenterEmail)
              label Institution
                input#presenterInstitution.form-control(name="presenterInstitution",  value=event.presenterInstitution)
              label City
                input#presenterCity.form-control(name="presenterCity",  value=event.presenterCity)
              label State
                input#presenterState.form-control(name="presenterState", placeholder="ST", value=event.presenterState)
            .col-xs-12.col-sm-12

        .col-xs-12.col-sm-6.col-md-4
          .form-group
            .col-xs-12.col-sm-12
              p PERFORMER
              label Name
                input#performer.form-control(name="performerName",  value=event.performerName)
              label Director
                input#performerDirector.form-control(name="performerDirector",  value=event.performerDirector)
              label email
                input#performerEmail.form-control(type="email" name="performerEmail", value=event.performerEmail)
              label Institution
                input#performerInstitution.form-control(name="performerInstitution",  value=event.performerInstitution)
              label City
                input#performerCity.form-control(name="performerCity", value=event.performerCity)
              label State
                input#performerState.form-control(name="performerState", placeholder="ST" value=event.performerState)
              input#checked.form-control(type="checkbox", name="checked", checked=event.checked)
          .form-group
            .col-xs-12.col-sm-12
              p
              textarea#description.form-control(name="description", placeholder="description", rows="6")= event.description
              p
              hr
              p
              a.btn.btn-default(onclick="window.history.back()", role='button') Cancel
              button.btn.btn-default(type="submit" value='Submit') Save
              a.btn.btn-default(href='/program/' + event._id role='button') Program
              a.btn.btn-default.pull-right(href='/delete/' + event._id role='button') Delete