mixin formatTime(dateString)
  -var date = new Date(dateString);
  -var h = date.getHours();
  -var mn = date.getMinutes();
  -var l = mn.toString().length;
  -var output = h + : mn;
  -if(l < 2)
    -output = h + ':0' + mn;
  =output

mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var monthNames = ["January", "February", "March", "April", "May", "June", "August", "September", "October", "November", "December"];
  -var d = date.getDate();
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var h = date.getHours();
  -var mn = date.getMinutes();
  -var ap = "";
  -if(h < 12)
    -ap = " AM";
  -else
    -ap = " PM";
  if(h == 0)
    -h = 12;
  if(h > 12)
    -h = h - 12;
  -var l = mn.toString().length;
  -var output = m + ' ' + d + ', ' + y + ' - ' + h + ':' + mn + ap;
  -if(l < 2)
    -output = m + ' ' + d + ', ' + y + ' - ' + h + ':0' + mn + ap;
  =output

mixin handleHours(hours)
  -var h = hours;
  -var ap;
  if(h > 12)
    -ap = "PM"
    -h = h - 12
  -else
    -ap = "AM"
  -output = h + ap
  =output
  
mixin formatProgramDate(startNum, endNum)
  -var start = new Date(startNum);
  -var end = new Date(endNum);
  -var hS = start.getHours();
  -var hE = end.getHours();
  -var apS = "AM";
  -var apE = "AM";
  if(hS > 12)
    -apS = "PM";
    -hS = hS - 12;
  if(hE > 12)
    -apE = "PM";
    -hE = hE - 12;  
  -var mS = start.getMinutes();
  if(mS.toString().length === 1)
    -mS += "0";
  -var mE = end.getMinutes();
  if(mE.toString().length === 1)
    -mE += "0"
  -var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  -var d = dayNames[start.getDay()];
  -var output = d + " " + hS + ":" + mS + apS + "-" + hE + ":" + mE + apE;
  =output

mixin dateFromNum(num)
  -var date = new(dateString)
  -var day = date.getDate()
  -var month = date.getMonth() + 1
  -var year = date.getFullYear()
  date = month + "/" + day + "/" + year
  -var output = date
  =output

mixin justDate(d)
  -var dt = new Date(d);
  -var monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  -var day = dt.getDate();
  -var month = monthArray[dt.getMonth()];
  -var year = dt.getFullYear();
  -var output = month + ' ' + day + ', ' + year;
  =output

mixin fillDate()
  -var dates = ["", "02/16/2017", "02/17/2017", "02/18/2017", "02/19/2017"];
  for date in dates
    if(date == event.date)
      option(value= date selected)= date
    else
      option(value= date)= date

mixin fillStart()
  -var startTimes = ["", "8:30 AM", "9:50 AM", "11:00 AM", "12:15 PM", "1:30 PM", "3:00 PM", "3:30 PM", "5:30 PM", "7:00 PM", "8:00 PM"];
  for start in startTimes
    if(start == event.start)
      option(value= start selected)= start
    else
      option(value= start)= start

mixin fillStates(field)
  -var states= ["",  "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
    for state in states
      if(state == field)
        option(value= state selected)= state
      else
        option(value= state)= state

mixin fillBuildings()
  - var buildings= ["Hyatt", "Westin"]
    for building in buildings
      if(building == event.building)
        option(value= building selected)= building
      else
        option(value= building)= building

mixin fillRooms()
  - var rooms = []
    case event.building
      when "Hyatt"
        rooms= ["Cedar Ballroom AB", "Regency Ballroom ABC", "Regency Ballroom EFG", "Grand Ballroom ABC", "Grand Ballroom EFG", "Grand Ballroom I", "Grand Ballroom J", "Cottonowood", "Juniper", "Laurel", "Larch", "Madrona", "Auditorium", "Maple"]
      when "Westin"
        rooms= ["Fort Peck", "Grand ABC", "Lake Sammamish", "Lake Coeur d'Alene", "Lake WA A"]
      default
        rooms = ["huh"]
  for room in rooms
    option(value= room)= room